
.dropdown-faq-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
    animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
    0%{
        filter: opacity(0%);
    }
    100%{
        filter: none;
    }
}
.page-section-header{
    padding: 20px;
    background-color: var(--color-primary);
    border-bottom-color: var(--color-primary-dark);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    text-align: center;
    animation: slide-in 0.7s forwards cubic-bezier(.96,.19,.13,.98);
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: none;
    }
}


.dropdown-faq {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: var(--border-radius);
    transition: box-shadow 0.2s ease-out;
}

.dropdown-faq:hover{
    box-shadow: 5px 5px var(--color-primary-dark);
}


.faq-content{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.dropdown-faq.active > .faq-content{
    max-height: 1000px;
  transition: max-height 0.8s ease-in-out;
}
.dropdown-faq.active > .faq-header > svg > .eraseWhenActive {
    fill: none;
}


.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 800px){
    .dropdown-faq-container{
        width: 80%;
        margin: 0 auto;
    }
}