
.dropdown-faq-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}

.block{
    padding: 20px;
    background-color: var(--color-primary);
    border-bottom-color: var(--color-primary-dark);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}


.dropdown-faq {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: var(--border-radius);
    transition: box-shadow 0.2s ease-out;
}

.dropdown-faq:hover{
    box-shadow: 5px 5px var(--color-primary-dark);
}


.faq-content{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.dropdown-faq.active > .faq-content{
    max-height: 1000px;
  transition: max-height 0.8s ease-in-out;
}
.dropdown-faq.active > .faq-header > svg > .eraseWhenActive {
    fill: none;
}


.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 800px){
    .dropdown-faq-container{
        width: 80%;
        margin: 0 auto;
    }
}