:root{
    --text-color: #111;
    --menu-text-color: #222;
    --color-primary: #68d89b;
    --color-primary-dark: #4f9d69;
    --color-primary-light:  #8DffCD;
    --color-secondary-dark: #002fff;
    --color-secondary-light:  #00b5f1;
    --border-radius: 5px;
}



body{
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: Merriweather;
}

.bg-primary{
    background-color: var(--color-primary);
}

@media (min-width: 500px){
    .margined-content{
        width: 80%;
        max-width: 700px;
        margin: 0 auto;
    }
}